.input-body{
    border-radius: 40px !important;
    background-color: #fff !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15) !important;
    transition: all 0.3s ease !important;
    border: none !important;
    outline: none !important;
    padding-left: 20px;
    padding-right: 45px;
    width: 100%;
    height: 40px;
}
/*
.input-body:active{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}*/

.input-body:focus{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15) !important;
}



/* ========================================================================== */

.btn{
    background-color: #4a98b9;
    border: none ;
    color: white !important;
    outline: 0 !important;
    z-index: 1;
    padding: 0px !important;
}

.btn:hover{
    transition: all 0.3s ease;
    background-color: #70a3b9
}

.btn:active{
    transition: all 0.3s ease;
    background-color: #37728b;
}

/* ========================================================================== */

.generate-btn{
    width: 40px;
    height: 40px;
    position: relative;
    top: -40px;
    float: right;
    border-radius: 50px !important;
}




.btn-back{
    float: left;
    position: relative;
    width: 60px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 20px;
}



.btn-del{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #ff8e8e;
}

.btn-del:hover{
    background-color: #ff5f5f;
}

.btn-del:active{
    background-color: #7e2f2f;
}






/* ========================================================================== */

body{



background: rgba(0,154,205,1);
background: -moz-linear-gradient(-45deg, rgba(0,154,205,1) 0%, rgba(0,176,164,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,154,205,1)), color-stop(100%, rgba(0,176,164,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,154,205,1) 0%, rgba(0,176,164,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,154,205,1) 0%, rgba(0,176,164,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,154,205,1) 0%, rgba(0,176,164,1) 100%);
background: linear-gradient(135deg, rgba(0,154,205,1) 0%, rgba(0,176,164,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009acd', endColorstr='#00b0a4', GradientType=1 );


}


/* ========================================================================== */

.canvas{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 500px;
}
